In [1]:
# load data from file
data = read.csv("~/research_data/mozilla_voice_comparison/ppt_data.csv")
wpm = read.csv("~/research_data/mozilla_voice_comparison/voice_metadata.csv")

data = as.data.frame(lapply(data, function (x) if (is.factor(x)) factor(x) else x))

In [2]:
result = wpm
result$TTS.Voice.Gender = factor(result$TTS.Voice.Gender, labels = c('M','F'))
ppts = as.data.frame(table(data$voice))
result = merge(result, ppts, by.x = 'Voice', by.y = 'Var1')

gender = as.data.frame.matrix(table(data$voice, data$gender))
gender$Ratio = round(gender$Man/gender$Woman, digits = 3)
result = merge(result, gender, by.x = 'Voice', by.y = 0)

result$WMP = lapply(result$WPM, function (x) {sprintf(x, fmt = '%#.3f')})

include = c('Voice.Table.Name','WPM','TTS.Voice.Gender','Date.Data.Collected','Freq','Ratio')
result = result[,include]
header = c('TTS Voice','WPM','TTS Gender','Date','n','M:F')
names(result) = header

result

   TTS Voice       WPM TTS Gender Date n  M:F
1  Human 1         137 F          4/19 49 1.765
2  Human 2         183 M          4/19 49 2.000
3  Human 3         182 F          4/19 55 1.077
4  Android UK      153 F          1/19 48 1.824
5  Google A        176 F          8/18 51 2.333
6  Google C        172 M          8/18 47 1.421
7  iOS             189 M          1/19 51 1.429
8  Judy GL 1       146 M          7/19 56 1.435
9  Judy GL 2       163 M          7/19 50 0.923
10 Judy W 1        146 M          7/19 41 0.950
11 Judy W 2        163 M          7/19 51 0.923
12 Mac Default     174 F          4/19 66 1.097
13 Nancy 1         174 M          1/19 43 1.688
14 Nancy 2         200 M          4/19 41 3.000
15 LJ Speech       145 M          8/18 50 1.273
16 Polly Joanna    187 M          8/18 50 2.125
17 Polly Matthew   192 F          8/18 46 1.250
18 Polly Sally     173 M          8/18 52 1.217
19 Voicery Nichole 177 M          8/18 57 1.850
20 Windows 1       162 M          4/19 46 1.588
21 Windows 2       159 F          4/19 38 1.467

In [5]:
nrow(subset(data, gender == 'Woman'))

[1] 444